<template name="homeAbout">

<div class="container">
  <div class="row">
        <!--<div class="col-lg-12 col-md-6 col-sm-8">     -->
<div class="media">
  <div class="media-left media-bottom">
    <a href="#">
      <img class="media-object" src="images/hmeshberger.jpg" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Grandview Realty - Company overview</h4>
    <p>After 30 + years in the real estate community involving both residential and commercial business throughout the Midwest, Harry Meshberger established Grandview Realty, Inc. in 2003. His comprehensive background allows him to serve the needs of the people of Grandview Lake and surrounding lake developments. Harry Meshberger, Broker/Owner, has been a property owner on Grandview since 1974 and homeowner since 1984. He and his family have thoroughly enjoyed living on the lake and have watched the development grow and flourish over the years. Many friendships have been established and countless memories recorded while spending time near the water. </p>
	<p>A real estate “Broker” since 1993, Harry has put his diverse background and skills to work providing a unique real estate experience for anyone interested in lake living. After the first year of the company’s inception, Grandview Realty captured nearly half of all the real estate business on the lake. Harry also served 6 years on the Board of Directors of the Grandview Lot Owners Association, a voluntary group dedicated to the preservation of the lake amenities and operation of The Town of Grandview Lake. </p>

<p>Once you become a part of “The Lake”, you too will share our passion for its tranquil atmosphere, serene beauty, friendly neighbors and therapeutic effect you receive from being on the water.</p> 
  </div>
</div>
        </div>
  <!--</div>-->
</div>

	
</template>	