<template name="homeContact">
	<div class="container">
	<div class="row-fluid">
        <div class="span4">
        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12299.403117643118!2d-86.05045499696175!3d39.156585864373206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b9b82c015aefd%3A0xb730d2b4c921d634!2s11711+W+Grandview+Dr%2C+Columbus%2C+IN+47201!5e0!3m2!1sen!2sus!4v1443306509685" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    	</div>
    	
      	<div class="span8">
    		<!--<h2>Member of Columbus Board of Realtors and MIBOR (Metropolitan Indianapolis Board of Realtors)</h2>-->
    		<address>
    			<strong>Grandview Realty Inc.</strong><br>
    			11711 W. Grandview Drive<br>
    			Columbus, IN.47201<br>
    			Kent<br>
    			United Kingdon<br>
    			CT21 5SH<br>
    			<abbr title="Phone">Office:</abbr> 812-342-3377 <br>
				<abbr title="Phone">Cell:</abbr> 765-532-9165 <br>
				<abbr title="Email">Email:</abbr> hmeshberger@aol.com <br> 
    		</address>
    	</div>
    </div>
</div>
</template>	
