<template name="homeIndex">


    
    
    <div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel" data-interval="3000">
	
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="images/carousel/1.jpg" alt="First slide">
			<div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</div>
		<div class="item">
			<img src="images/carousel/2.jpg" alt="Second slide">
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="item">
			<img src="images/carousel/03.jpg"  alt="Third slide">
			<div class="carousel-caption">
				<h3>Third slide label</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</div>
	</div>

	
		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	
</div>

    
    
      <div class="container">
      <div class="row">
        <!--<div class="col-lg-5 col-md-6 col-sm-8">-->
          <h3>Celebrating 10 Years Serving the Grandview Lake Community and the 
Columbus Real Estate market in general.</h3>
        <p> 
            Grandview Realty is located in the scenic and picturesque hills that surround the most desired private lake in Southern Indiana. Just a few minutes drive from the architecturally renowned Columbus, Indiana - the 400 acre Grandview Lake is nestled among the hills that form the basis for the famous rolling terrain of Brown County.
        </p>
        <p>
            Our business concentrates on the local lake communities so it's only natural that we would choose to have our base 
of operation on the lake itself. Grandview Realty offers a full schedule of services including lake home sales, buyer representation, home valuation and home services to lake property owners. We want to be your one stop source for 
all your lake property needs. At Grandview Realty, "We Sell Lake Living."
        </p>
        </div> 
      <!--</div> -->
      </div>
</template>