<template name="homeMlsListings">
	<div class="container">
  <h3>The properties below are other area listings. </h3>
						<p>Please
						select your criteria and then click on the &quot;Run Search&quot; button to view a list
						of properties.</p>
                       
	<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
   <iframe name="I1" width="785" height="881" src="http://scilex.fnismls.com/idx/idx.aspx?Mls=SCILEX&Subscriber=08b51ac6-8adc-4b83-a92d-71a5e950c05e">
                        Your browser does not support inline frames or is currently configured not to display inline frames.
                        </iframe>
</div>					
	</div> 
</template>	